body {
	margin: 10px;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body
{
	background-color: #FFFFFF;
}

table {
	border-style: outset;
	margin-right:auto;
	margin-left:auto;
}

p.error {
	color: red;
	text-align: center;
}

tr.row0 {
	text-align: center;
	background-color: #FEFEF2;
}

tr.row1 {
	text-align: center;
	background-color: #E0EEEE;
}

td {
	padding: 4px;
}

tr.table_title{
  background-color: #486591;
  color: white;
  text-align: center;
}

a:link    {color:#0066FF}
a:visited {color:#0066FF}
a:active  {color:#000099}
a:hover   {color:#000099}

.center {
	text-align: center;
}
